* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/*caracteristicas de todos os elementos dentro do body*/
body{
 color:azure;
 background-color: #e0e0e0;
 font-family: Arial,sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 /*espaçamento interno de um elemento*/
 padding: 30px;
}

/* "." sinaliza que estamos referenciando uma classe*/
.header {
/*o elemento deve ocupar 95% da altura do site*/
 height: 95vh;
 /*deve cobrir toda a extensão do fundo em que ele foi destinado e ficar no topo*/
 background-size: cover;
 background-position: top;
 background-color: #4e40b4;
 background: linear-gradient(to right, #4e40b4, #302774);
 position: relative;
}

.logo-box {
 position: absolute;
 top: 40px;
 left: 70px;
}

.logo {
 height: 80px;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.primary-heading {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.primary-heading-main {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 150px;
    letter-spacing: 5px;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

.primary-heading-second {
    font-family: Arial, sans-serif;
    display: block;
    font-size: 30px;
    font-weight: 400px;
    animation-name: moveInRigth;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100);
    }

    80%{
        transform: translate(20px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRigth{
    0%{
        opacity: 0;
        transform: translateX(100);
    }

    80%{
        transform: translate(-20px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link, 
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 100px;
    transition: all .2s;
}

.btn:active{
    transform: translateY(-1px);
}

/*hover para quando usuário passar a setinha no elemento*/
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0, 0, 0, .2);
}

.btn-white{
    background-color: #ffffff;
    color: #4e40b4;
}

